@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.slider-container {
    margin-top: 60px; /* 헤더와 슬라이더 간의 여백을 설정 */
    max-width: 100%; /* 슬라이더 너비 조정 */
    height: 400px; /* 슬라이더 높이 고정 */
    overflow: hidden; /* 넘치는 부분 숨김 */
    position: relative; /* 자식 요소의 절대 위치 설정 */
}
